[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "themes"]
	path = themes
	url = https://github.com/getpelican/pelican-themes.git
[submodule "pelican-theme-canux"]
	path = pelican-theme-canux
	url = https://github.com/crazy-canux/pelican-theme-canux.git
